@{
    ViewData["Title"] = "Manager Dashboard";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h3>Greetings Manager!</h3>
    <a asp-controller="Home" asp-action="ManageClaim" class="btn btn-primary">Manage Claims</a>
</div>
